<h1>Nouvelle candidature reçue</h1>

<p>Vous avez reçu une nouvelle candidature pour le poste : {{ job.name }}</p>

<h2>Informations du candidat :</h2>
<ul>
    <li>Nom : {{ user.firstname }}</li>
    <li>Email : {{ user.email }}</li>
</ul>

<p>Veuillez consulter le tableau de bord pour plus de détails.</p>
